@{
    ViewData["Title"] = "Ввод данных о фармацевтическом продукте";
}
<!-- ввод данных из предметной области по дисциплине «Базы данных»(Фармацевтическая компания) – 5-6 полей, имеющих не менее 3 различных типов-->
<h2>Ввод данных о фармацевтическом продукте</h2>

<form method="post">
    <div class="form-group">
        <label for="productId">ID продукта:</label>
        <!---  вспомогательные методы Html TextBox -->
        @Html.TextBox("productId", null, new { @class = "form-control", type = "number" })
    </div>

    <div class="form-group">
        <label for="productName">Название продукта:</label>
        @Html.TextBox("productName", null, new { @class = "form-control", required = "required" })
    </div>

    <div class="form-group">
        <label for="productionDate">Дата изготовления:</label>
        @Html.TextBox("productionDate", null, new { @class = "form-control", type = "date" })
    </div>

    <div class="form-group">
        <label for="form">Форма выпуска:</label>
        @Html.DropDownList("form",
                 new SelectList(new[]
                 {
        new { Value = "Таблетки", Text = "Таблетки" },
        new { Value = "Капсулы", Text = "Капсулы" },
        new { Value = "Сироп", Text = "Сироп" },
        }, "Value", "Text"),
                 "Выберите форму выпуска", new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label for="price">Цена:</label>
        @Html.TextBox("price", null, new { @class = "form-control", type = "number"})
    </div>
    <div class="form-group">
        <label for="isAvailable">В наличии:</label>
        <!-- вспомогательные методы Html CheckBox-->
        @Html.CheckBox("isAvailable", true, new { @class = "form-check-input" })
    </div>

    <button type="submit" class="btn btn-primary">Отправить</button>
</form>